body{
    background-color: rgb(87, 86, 86);
}



.formulario {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 30px;
    color: white;
    background-image: url(fundo2.jpg);

}


h1 {
    display: flex;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}

.obs {
    width: 30vw;
    height: 2vw;
}

#reserva {
    border-radius: 10px;
    width: 130px;
    height: 40px;
    transition: 0.5s;

}

#reserva:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

input {
    background: transparent;
    color: white;
    padding: 3px;
    border-radius: 10px;
}

.logo  {
    padding-left: 39px;
    width: 70px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}


